@import "applauncher.rasi"

entry {
    placeholder: "Emoji";
}

listview {
    columns: 2;
    lines: 6;
}

element {
    orientation: horizontal;
    children: [ element-text, element-icon ];
}

element-text {
    padding: 20px 0px;
    vertical-align: 0.5;
}
