/* @import "$HOME/.config/colors/colors.css" */
@import "./colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    min-height: 0;
}

window,
tooltip {
    background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    border-bottom: 3px solid @mainborder;
}

.modules-left {
    padding: 3px;
    margin: 5px 0px 3px 5px;
    border-radius: 10px;
    background: alpha(@background, 0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);

    /* border-bottom: 2px solid @mainborder; */
    /* border: 2px solid @mainborder; */
}

.modules-center {
    padding: 3px;
    margin: 5px 0px 3px 0px;
    border-radius: 10px;
    background: alpha(@background, 0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    min-width: 150.5px;

    /* border-bottom: 2px solid @mainborder; */
    /* border: 2px solid @mainborder; */
}
.modules-right {
    padding: 3px;
    margin: 5px 5px 3px 0px;
    border-radius: 10px;
    background: alpha(@background, 0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);

    /* border-bottom: 2px solid @mainborder; */
    /* border: 2px solid @mainborder; */
}

#waybar {
    background: alpha(@background, 0.6);
    background: transparent;
}

#workspaces {
    padding: 0 8px;
    margin: 1px 0;
}

#workspaces button {
    color: @foreground;
    margin: 0px 3px;
    padding: 0 12px;
    transition: all 0.3s ease-in-out;

    border: 2px solid transparent;
}

#workspaces button:hover {
    color: @selectborder;
    transition: all 0.3s;
    border-bottom: 1px solid @selectborder;
}

#workspaces button:not(.empty) {
    color: @notempty;
}

#workspaces button.active {
    color: @selectborder;
    border-bottom: 2px solid @selectborder;
    padding: 0 20px;
    margin: 0px 3px;
}

#workspaces button.urgent {
    background-color: @urgent;
    padding: 0 8px;
}

#custom-power {
    color: #02abf9;
}

#mpris,
#tray,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock {
    color: @text;
    margin: 1px 0;
    padding: 0 10px;
}

#custom-cava {
    border-radius: 0px;
    color: @cava;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

#mpris:hover,
#custom-swaync:hover,
#custom-power:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: alpha(@select, 0.6);
}

#network {
    font-size: 17px;
    padding: 0px 14px;
}

#bluetooth {
    font-size: 17px;
    padding: 0px 6px;
}

#clock {
    margin-right: 10px;
    color: @clock;
}

#custom-power {
    margin-left: 5px;
    padding: 0px 10px 0 10px;
}

#custom-swaync {
    color: @notification;
}

#custom-separator {
    color: @separator;
}

#custom-spinner {
    color: @spinner;
    padding: 0 10px;
    margin-left: 10px;
    /* border: 2px solid @mainborder; */
}
